@inject NavigationManager NavigationManager

<button @onclick="GoToHome" class="btn btn-outline-primary home-button">
    My Shop
</button>

@code {
    // method to navigate to the home page
    private void GoToHome()
    {
        NavigationManager.NavigateTo("/");
    }
}
